body{
    font: 20px Arial, sans-serif;
}


.navbar{
    background-color:#9FE2BF;
}

.quem-somos{
  background-color:#6495ED;
  color: white;
}

.margin{
padding-bottom: 50px;
padding-top: 10px;

}

.parceiros{
background-color: #AED6F1;
color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}